.container {
  display: flex;
  background: var(--gray-backg);
  height: 100vh;
  padding: 0;
  margin: 0;
}

.panel {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
  grid-gap: 10px;
  background: var(--gray-backg);
  overflow-y: auto;
  margin: 5% 5% 0 5%;
}

.card {
  position: relative;
  width: 20%;
  min-width: 250px;
  background: var(--lilac-button);
  border-radius: 4px;
  padding: 15px 10px 10px 10px;
  margin: 10px 15px 10px 10px;
  height: 190px;
  transition: background 0.2s;
  overflow-y: auto;

  &:hover {
    background: #231227;
  }

  h1 {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight: lighter;
  }
  ul {
    max-height: 100px;
    overflow-y: auto;
    margin: 5px 0 10px 0;

    li {
      font-family: "Roboto";
      list-style: none;
      margin: 0 0 0 10px;
      font-size: 15px;
      font-weight: lighter;
    }
  }

  .cardBottom {
    font-family: "Roboto";
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-size: 15px;
      font-weight: lighter;
    }
  }
}
.topCardContainer {
  display: flex;
  justify-content: space-between;

  cursor: pointer;

  .deleteContainer {
    width: 30px;
  }

  .editContainer {
    width: 30px;
  }
}
