.container {
  display: flex;
  background: var(--gray-backg);
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
.panelContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  height: 80%;
  width: 100%;
  overflow-x: auto;
  padding: 5px;
}

@keyframes increaseSize {
  from {
    opacity: 0;
    transform: scale(0, 0);
  }
  to {
    opacity: 1;
    transform: scale(100%, 100%);
  }
}
.panel {
  border-radius: 5px;
  flex-direction: column;
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  max-height: 473px;
  background: #231227;
  overflow-x: hidden;
  height: 100%;
  padding-top: 40px;
  animation: increaseSize 0.5s;

  .formatedDate {
    position: absolute;
    margin: 0;
    overflow-y: hidden;
    background: var(--gray-backg);
    height: 1;
    margin-top: 30px;
    margin-left: 23px;
    width: 40%;
    max-width: 280px;
    height: 35px;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    z-index: 2;
    font-family: "Roboto";
  }

  .datePicker {
    position: relative;
    color: transparent;
    background: transparent;
    border: none;

    z-index: 3;
    outline: transparent;
  }

  input {
    margin-top: 20px;
    width: 65%;
    margin-left: 20%;
    height: 35px;
    text-align: center;
    background: var(--gray-backg);
    border-radius: 1px;
    font-family: "Roboto";
  }

  h3 {
    margin-top: 30px;
    font-family: "Roboto";
    font-weight: 100;
    font-size: medium;
  }
}

.morningAfternoon {
  display: flex;
  width: 55%;
  align-items: center;
  justify-content: center;
  padding: 5px;
  input {
    border-radius: 2px;
    font-family: "Roboto";
  }
}

.buttonContainer {
  width: 90%;
  margin-top: 30px;
  border-radius: 5px;
}

@media (max-width: 320px) {
  .morningAfternoon {
    display: flex;
  }

  .panel {
    height: 90%;
  }
}
