.container{
   display: flex;
   background:var(--gray-backg);
   height: 100vh;
   width: 100%;
   padding: 0;
   margin: 0;
}
.panelContainer{
   display: flex;
   flex-direction: column;
   align-self: center;
   justify-self: center;
   height: 80%;
   width: 100%;
   padding: 5px;
}
.panel{
   border-radius: 5px;
   flex-direction: column;
   display: flex;
   align-self: center;
   justify-self: center;
   align-items: center;
   width: 100%;
   max-width: 500px;
   max-height: 473px;
   background: #231227;
   overflow-x:hidden ;
   height: 100%;
   padding-top: 40px;

   input{
      margin-top: 30px;
      width: 65%;
      margin-left: 20%;
      height:35px;
      text-align: center;
      background: var(--gray-backg);
      border-radius: 5px;
      font-family: "Roboto";
   }
   

   h3{
      margin-top: 20px;
      font-family: "Roboto";
   }


}

.morningAfternoon{
   display: flex;
   width: 55%;
   min-width: 245px;
   align-items: center;
   justify-content: center;

   

   input{
      border-radius: 2px;
      font-family: "Roboto";
   }

}

.buttonContainer{
   width: 90%;
   margin-top: 30px;
}

@media (max-width: 320px){
   
   .morningAfternoon{
      display: flex;
   }
   

   .panel{
      height: 90%;
   }

   


}