.sidebarContainer{
   padding-top: 35px;
   display: flex;
   justify-content: left;
   flex-direction: column;
   width: var(--sidebar-width);
   background: #231227;
   transition: width 0.2s;


   ul{
      margin-top: 40px;
      li{
         display: flex;
         margin: 0px 10px 10px 10px;
         color: #D5D9DE;
         font-family: "Roboto";
         transition: font-size 0.2s;
         font-size: 15px;


         &:hover{
            color:#ffff;
            font-size: 18px;
         }
      }
   }   

}

.title{
   align-self: center;
   margin: 18px 5px 10px 5px;
   font-family: "Rouge Script";
   font-weight: 10;
   font-size: 25px;
   display: var(--display-header);
   
}

.services{
   cursor: pointer;
   margin-top: 3px;
}

.icon{
   margin-right: 10px;
}

.toogle{
  
  display: none;
  position: absolute;
  margin: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  justify-content: center;
  align-items: center;
  color: var(--toogle-color);
  justify-content: center;

  background:var(--lilac-button);
 
}

@media (max-width: 1200px){
    .title{
      font-size: 20px;
   }
   .sidebarContainer{
      font-size: 100%;
   }

}

@media (max-width: 760px){
   .title{
      font-size: 18px;
   }
   .sidebarContainer{
      font-size: 14px;
   }

   .toogle{
      display: flex;
   }

}

@media (max-width: 480px){
   .title{
      font-size: 16px;
   }
   
   .sidebarContainer{
      font-size: 10px;
   }

}